---
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Digitaliseringsgevinst'n">
  <div>
    {
      posts.map((post) => (
        <Post
          title={post.frontmatter.title}
          summary={post.frontmatter.summary}
          author={post.frontmatter.author}
          url={post.url ?? ""}
          image={post.frontmatter.image}
        />
      ))
    }
  </div>
</Layout>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
</style>
