---
import {
  PostType,
  type ArtikkelFrontmatter,
  type Frontmatter,
  type MatspaltenFrontmatter,
  type ReisebrevFrontmatter,
} from "../interfaces/frontmatter";
import Layout from "../layouts/Layout.astro";
import ArtikkelNewsfeed from "../components/ArtikkelNewsfeed.astro";
import MatspaltenNewsfeed from "../components/MatspaltenNewsfeed.astro";
import ReisebrevNewsfeed from "../components/ReisebrevNewsfeed.astro";

const posts = await Astro.glob<Frontmatter>("../pages/posts/*.md");
---

<Layout title="Digitaliseringsgevinst'n">
  <div class="newsfeed-wrapper">
    <h1 class="sr-only">Digitaliseringsgevinsten - nyheter</h1>
    {
      posts
        .filter((post) => post.frontmatter.draft !== true)
        .sort(
          (a, b) =>
            new Date(b.frontmatter.publishedAt).getTime() -
            new Date(a.frontmatter.publishedAt).getTime()
        )
        .map((post) => (
          <>
            {post.frontmatter.type === PostType.Artikkel && (
              <ArtikkelNewsfeed
                title={(post.frontmatter as ArtikkelFrontmatter).title}
                summary={(post.frontmatter as ArtikkelFrontmatter).summary}
                author={(post.frontmatter as ArtikkelFrontmatter).author}
                url={post.url}
                image={(post.frontmatter as ArtikkelFrontmatter).image}
                elementsPerRow={
                  (post.frontmatter as ArtikkelFrontmatter).elementsPerRow
                }
              />
            )}
            {post.frontmatter.type === PostType.Matspalten && (
              <MatspaltenNewsfeed
                title={(post.frontmatter as MatspaltenFrontmatter).title}
                summary={(post.frontmatter as MatspaltenFrontmatter).summary}
                author={(post.frontmatter as MatspaltenFrontmatter).author}
                url={post.url}
                image={(post.frontmatter as MatspaltenFrontmatter).image}
                elementsPerRow={
                  (post.frontmatter as MatspaltenFrontmatter).elementsPerRow
                }
              />
            )}
            {post.frontmatter.type === PostType.Reisebrev && (
              <ReisebrevNewsfeed
                title={(post.frontmatter as ReisebrevFrontmatter).title}
                summary={(post.frontmatter as ReisebrevFrontmatter).summary}
                author={(post.frontmatter as ReisebrevFrontmatter).author}
                url={post.url}
                image={(post.frontmatter as ReisebrevFrontmatter).image}
                elementsPerRow={
                  (post.frontmatter as ReisebrevFrontmatter).elementsPerRow
                }
              />
            )}
          </>
        ))
    }
  </div>
</Layout>

<style>
  .newsfeed-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
  }
</style>
