---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  summary: string;
  author: string;
  url?: string;
  image: {
    url: string;
    alt: string;
  };
}

const { title, url, image } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<a class="newsfeed-post-link" href={url}>
  <Image src={images[image.url]()} alt={image.alt} width="300" />
  <h2 class="newsfeed-post-heading">{title}</h2>
</a>
<style>
  .newsfeed-post-heading {
    margin: 0;
    font-size: 2rem;
    word-wrap: break-word;
  }
  .newsfeed-post-link {
    color: inherit;
    display: inline-block;
    width: 300px;
  }
  .newsfeed-post-link:hover {
    text-decoration: none;
  }
</style>
