<button data-confetti-button class="confetti-button"> Spre glede 🎉 </button>

<script>
  import confetti from "canvas-confetti";

  // Find our component DOM on the page.
  const buttons = document.querySelectorAll("[data-confetti-button]");

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener("click", () => confetti());
  });
</script>
<style>
  .confetti-button {
    background-color: #f9a8d4;
    border: none;
    color: green;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .confetti-button:hover {
    background-color: #f48fb1;
  }
  .confetti-button:active {
    background-color: #f48fb1;
  }
  .confetti-button:focus {
    outline: none;
  }
</style>
