---
import Layout from "./Layout.astro";

const {
  frontmatter: { title, author, summary },
} = Astro.props;
---

<Layout>
  <article>
    <h1>{title}</h1>
    <p class="ingress">{summary}</p>
    <span class="authored-by">Skrevet av {author}</span>
    <slot />
  </article>
</Layout>

<style>
  article {
    margin: 0;
  }

  header {
    margin-bottom: 1rem;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  time {
    color: #666;
    font-size: 0.875rem;
  }

  section {
    line-height: 1.6;
  }

  .authored-by {
    font-size: 1.25rem;
    color: #666;
  }

  .ingress {
    font-size: 2rem;
    margin-top: 1rem;
  }
</style>
