---
import SpreGledeKnapp from "@components/SpreGledeKnapp.astro";
import { Image } from "astro:assets";
import Logo from "@assets/logo.svg?raw";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Digitaliseringsgevinst'n</title>
  </head>
  <body>
    <header class="header">
      <a class="logo-and-app-name-wrapper" href="/">
        <div class="logo">
          <Fragment set:html={Logo} />
        </div>
        <span class="app-name visible-non-phone">Digitaliseringsgevinst'n</span>
        <span class="app-name visible-phone-only">Digg!</span>
      </a>
      <SpreGledeKnapp />
    </header>
    <main>
      <div>
        <div class="reklame">
          <Image
            src={images["/src/assets/bil-i-oslo-reklame.gif"]()}
            alt="Reklame for Bil i Oslo"
            width="150"
            height="600"
          />
          <Image
            src={images["/src/assets/aws-nikolai.gif"]()}
            alt="Reklame for Bil i Oslo"
            width="150"
            height="150"
          />
        </div>
      </div>
      <slot />
      <div>
        <div class="reklame">
          <Image
            src={images["/src/assets/bil-i-oslo-reklame.gif"]()}
            alt="Reklame for Bil i Oslo"
            width="150"
            height="600"
          />
          <Image
            src={images["/src/assets/aws-nikolai.gif"]()}
            alt="Reklame for Bil i Oslo"
            width="150"
            height="150"
          />
        </div>
      </div>
    </main>
  </body>
</html>
<style is:global>
  .reklame {
    position: sticky;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .logo-and-app-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
  }
  .app-name {
    font-size: calc(1rem + 2vw);
    font-stretch: expanded;
  }
  .logo {
    display: flex;
    width: calc(1rem + 2vw);
    height: calc(1rem + 2vw);
  }
  .visible-non-phone {
    @media (max-width: 800px) {
      display: none;
    }
  }
  .visible-phone-only {
    @media (min-width: 801px) {
      display: none;
    }
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  body {
    background-color: #eee;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    @media (max-width: 1600px) {
      padding: 1rem auto 10rem auto;
    }
    background-color: white;
    height: 100%;
    padding: 1rem 1rem 10rem 1rem;
  }
  header {
    background-color: white;
    padding: 1rem;
    display: flex;
  }
  html {
    height: 100%;
  }
  p {
    font-size: 1.3rem;
  }
</style>
