---
import SpreGledeKnapp from "@components/SpreGledeKnapp.astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Digitaliseringsgevinst'n</title>
  </head>
  <body>
    <header class="header">
      <a class="logo visible-non-phone" href="/">Digitaliseringsgevinst'n</a>
      <a class="logo visible-phone-only" href="/">Digg!</a>
      <SpreGledeKnapp />
    </header>
    <main>
      <Image
        class="bil-i-oslo-reklame"
        src={images["/src/assets/bil-i-oslo-reklame.gif"]()}
        alt="Reklame for Bil i Oslo"
        width="150"
        height="600"
      />
      <slot />
      <Image
        class="bil-i-oslo-reklame"
        src={images["/src/assets/bil-i-oslo-reklame.gif"]()}
        alt="Reklame for Bil i Oslo"
        width="150"
        height="600"
      />
    </main>
  </body>
</html>
<style is:global>
  .bil-i-oslo-reklame {
    position: sticky;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .logo {
    font-size: calc(1rem + 5vw);
    font-stretch: expanded;
    text-decoration: none;
    color: black;
  }
  .visible-non-phone {
    @media (max-width: 800px) {
      display: none;
    }
  }
  .visible-phone-only {
    @media (min-width: 801px) {
      display: none;
    }
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  body {
    background-color: #eee;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    @media (max-width: 1600px) {
      padding: 1rem auto 10rem auto;
    }
    background-color: white;
    height: 100%;
    padding: 1rem 1rem 10rem 1rem;
  }
  header {
    background-color: white;
    padding: 1rem;
    display: flex;
  }
  html {
    height: 100%;
  }
  p {
    font-size: 1.3rem;
  }
</style>
