---
import Layout from "./Layout.astro";

const {
  frontmatter: { title, author },
} = Astro.props;
---

<Layout>
  <article>
    <h1>{title}</h1>
    <h2>{`Av ${author}`}</h2>
    <slot />
  </article>
</Layout>

<style>
  article {
    margin: 0;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  section {
    line-height: 1.6;
  }

  .authored-by {
    font-size: 1.25rem;
    color: #666;
  }

  .ingress {
    font-size: 2rem;
    margin-top: 1rem;
  }
</style>
