.newsfeed-post-draft-image-wrapper {
  position: relative;
}
.newsfeed-post-draft-image-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #000;
  z-index: 1;
}
.newsfeed-post-heading {
  margin: 0;
  font-size: max(2rem, 4vw);
  word-wrap: break-word;
}
.newsfeed-post-image {
  object-fit: cover;
  width: 100%;
}
.newsfeed-post-link {
  display: block;
  color: inherit;
  grid-column: span calc(12 / var(--elementsPerRow));
  @media (max-width: 1200px) {
    grid-column: span 12;
  }
}
.newsfeed-post-link:hover {
  text-decoration: none;
}
